<section class="section section-mast text-center">
    <div class="mid-content content">
        <div class="section-title">
            <img class="mb-4 family rounded-circle" height="200px" src="https://avatars2.githubusercontent.com/u/612332?s=400&u=d1884d0b30fec1aa0cc61a2a0fddd33874614d25&v=4">
            <h1 class="mb-4">JAKE TOOLSON</h1>
            <hr class="separator">
            <h2 class="text-light mb-4">Software Leader, Entrepreneur</h2>
        </div>
    </div>
</section>

<div id="header" class="header mb-5">
    <div class="container text-center">
        {% include nav.html %}
    </div>
</div>

<section class="section section-about bg-c">
    <div class="container content">
        <div class="section-title text-center">
            <h2 id="about" class="section-title txt-prpl">ABOUT ME</h2>
        </div>
        <div class="section-body txt-prpl">
            <div class="row">
                <div class="col-sm">
                    <p>Over the last 15 years, I have held key technical roles which have allowed me to interact and successfully support Board members, management, co-workers, clients, and customers. Most of these roles required me to act beyond the job description, often fulfilling responsibilities in sales, marketing, support, training, and more. With this knowledge, I bring a broad and mature understanding of how to bring cross-functional departments together to collaborate, strategize, and achieve goals.</p>
                    <p>I have proven success in entrepreneurship, product innovation, technical leadership, and software development across multiple industries and markets. I enjoy rolling up my sleeves and taking complete ownership of projects and love working with all departments involved.</p>
                </div>
                <div class="col-sm">
                    <h4>Career Highlights</h4>
                    <ul>
                        <li>Co-founded SaaS startup, achieving an exit.</li>
                        <li>Responsible for developing, launching, and scaling numerous software products into various markets, with initial budgets ranging from $50K to over $750K.</li>
                        <li>Developed turnkey SaaS which was sold to an international company for ~$500K.</li>
                        <li>Developed database containing Eastern United States’ energy transmission and generation data, which was used for data modeling and was over 4TB in size.</li>
                        <li>Owned and operated screen printing company for 5 years.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section-projects bg-dark">
    <div class="container content">
        <div class="section-title text-center">
            <h2 id="projects" class="section-title">PROJECTS</h2>
        </div>
        <div class="section-body">
            {% include projects.html %}
        </div>
    </div>
</section>

<section class="section section-contact bg-d">
    <div class="container content">
        <div class="section-title text-center">
            <h2 id="contact" class="section-title">CONTACT</h2>
        </div>
        <div class="section-body text-center">
            <ul class="contact-links list-inline hidden-xs list-nav">
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/jaketoolson" target="_blank">
                        <i class="fab fa-linkedin fa-3x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://dribbble.com/jaketoolson" target="_blank">
                        <i class="fab fa-dribbble-square fa-3x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/jaketoolson" target="_blank">
                        <i class="fab fa-github-square fa-3x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="javascript:location='mailto:\u006a\u0061\u006b\u0065\u0074\u006f\u006f\u006c\u0073\u006f\u006e\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d';void 0">
                        <i class="fas fa-envelope-square fa-3x"></i>
                    </a>
                </li>
            </ul>
            <p class="mt-5 text-small">&copy; Jake Toolson</p>
        </div>
    </div>
</section>