<section class="section section-mast text-center">
    <div class="mid-content content">
        <div class="section-title">
            <img class="mb-4 family rounded-circle" height="300px" width="300px" src="https://raw.githubusercontent.com/jaketoolson/jaketoolson.github.io/master/images/jake(2).jpg">
            <h1 class="mb-4">JAKE TOOLSON</h1>
            <hr class="separator mb-4">
            <h2 class="text-light mb-4">Father, Dreamer, Builder</h2>
        </div>
    </div>
</section>

<div id="header" class="header mb-5">
    <div class="container text-center">
        {% include nav.html %}
    </div>
</div>

<section class="section section-about bg-c">
    <div class="container content">
        <div class="section-title text-center">
            <h2 id="about" class="section-title txt-prpl-drk">ABOUT ME</h2>
        </div>
        <div class="section-body txt-prpl">
            <div class="row">
                <div class="col-sm">
                    <p><strong>Passionate engineering leader and builder</strong>,
                        with proven success in entrepreneurship, product innovation, technical leadership, team building, and software development across multiple industries and markets.
                    </p>
                        <p>I'm always excited about collaborating on technical roadmaps, aligning them with business goals,
                            and developing strategic hiring plans. I'm a creative thinker, always looking to innovate, learn and build.</p>
                    <p>When I’m not coding, building infrastructure, or collaborating with my team, I’m building in other ways. I love working on muscle cars 🧰 with my kids. I also enjoy boxing 🥊 and spending quality time with my family.</p>
                </div>
                <div class="col-sm">
                    <h4 class="txt-prpl-drk">Career Highlights</h4>
                    <ul>
                        <li>Father of 4 awesome kids!</li>
                        <li>I'm deeply grateful for the relationships I've built and maintained throughout my career</li>
                        <li>Co-founder and CTO of LMS SaaS startup, achieving an exit</li>
                        <li>Managed multiple engineering teams through various stages of growth</li>
                        <li>Directly responsible for managing 25+ SaaS products, from conception to launch</li>
                        <li>Owned and operated screen-printing company for 5 years</li>
                        <li>Still learning, daily.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section-projects bg-dark">
    <div class="container content">
        <div class="section-title text-center">
            <h2 id="projects" class="section-title">PROJECTS</h2>
        </div>
        <div class="section-body">
            <div class="card mb-4 project-info">
                <div class="card-body">
                    <p class="txt-italic card-text l mb-0">
                        <strong>Note:</strong> For most of my career, my work (specifically my software/code) has been protected by IP, meaning I'm unable to share samples of my contributions to the codebases I've worked on. But wait! The projects below I either own myself, or are "sandbox" projects made for fun, either to play around with a technology, idea, or architecture pattern. They are NOT deployed nor are they "complete".
                    </p>
                </div>
            </div>

            <div class="row  mb-4">
                {% for project in site.data.projects  %}
                    {% assign mod = forloop.index | modulo: 2 %}
                <div class="col">
                    <div class="card home-card" >
                        <div class="card-body">
                            <img src="{{ project.img_card_src }}" class="card-img-top mb-3" >
                            <h4 class="card-title"><a href="{{ project.permalink }}">{{ project.name }}</a></h4>
                            <p class="card-text txt-prpl">
                                {{ project.desc }}
                            </p>
                        </div>
                        <div class="card-footer border-0 bg-white">
                            <div class="clearfix">
                                <ul class="list-inline float-end">
                                    {% for meta in project.meta %}
                                    <li class="list-inline-item">
                                        <img src="/images/tech/{{ meta }}.png" height="20" alt-="{{meta}}" title="{{meta}}" />
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                   {% if mod == 0 %}
                        </div><div class="row mb-4">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="section section-contact bg-d">
    <div class="container content">
        <div class="section-title text-center">
            <h2 id="contact" class="section-title">CONTACT</h2>
        </div>
        <div class="section-body text-center">
            <ul class="contact-links list-inline hidden-xs list-nav">
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/jaketoolson" target="_blank">
                        <i class="fab fa-linkedin fa-3x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://dribbble.com/jaketoolson" target="_blank">
                        <i class="fab fa-dribbble-square fa-3x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/jaketoolson" target="_blank">
                        <i class="fab fa-github-square fa-3x"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="javascript:location='mailto:\u006a\u0061\u006b\u0065\u0074\u006f\u006f\u006c\u0073\u006f\u006e\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d';void 0">
                        <i class="fas fa-envelope-square fa-3x"></i>
                    </a>
                </li>
            </ul>
            <p class="mt-5 text-small">&copy; Jake Toolson</p>
        </div>
    </div>
</section>
