<ul class="list-inline hidden-xs list-nav">
    {% if page.url != "/" %}
    <li class="list-inline-item">
        <a href="/">
            <i class="fas fa-home"></i>
        </a>
    </li>
    {% endif %}
    <li class="list-inline-item">
        <a href="/#about" class="slide">ABOUT</a>
    </li>
    <li class="list-inline-item">
        <a href="/#projects" class="slide">PROJECTS</a>
    </li>
    <li class="list-inline-item">
        <a href="/#contact" class="slide">CONTACT</a>
    </li>
</ul>