<section class="section section-projects bg-c">
    <div class="container content">
        <div class="section-title text-center">
            <div class="card">
                <div class="card-body">
                    {% include nav.html %}
                </div>
            </div>
        </div>
        <div class="section-body">
            <div class="card mb-3">
                <img src="{{ project.img_card_src }}" class="card-img-top">
                <div class="card-body">
                    <h1 class="card-title txt-prpl-drk">{{ project.name }}</h1>
                    <div class="card-text txt-prpl">
                        <p class="mb-4">{{ project.desc }}</p>
                        {{ extraDetails }}
                    </div>
                    {% if project.links.size > 0 %}
                    <div class="border-top border-bottom p-4 mb-3">
                        {% for link in project.links %}
                        <a href="{{ link.url }}" target="_blank" class="card-link">{{ link.title }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}

                     {% if project.long_desc %}
                    <div class="card-text txt-prpl">
                        <p class="mb-4">{{ project.long_desc }}</p>
                    </div>
                    {% endif %}
                    
                    {% if project.highlights.size > 0 %}
                    <h4 class="txt-prpl-drk">Project Highlights:</h4>
                    <ul class="txt-prpl">
                        {% for highlight in project.highlights %}
                        <li>{{ highlight }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% if project.technologies.size > 0 %}
                    <h4 class="txt-prpl-drk mt-4">Technologies:</h4>
                    <ul class="txt-prpl">
                        {% for tech in project.technologies %}
                        <li>{{ tech }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% if project.images.size > 0 %}
                    <div id="carouselExample" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                       {% for imgsrc in project.images %}
                             <div class="carousel-item active">
                                <img src="{{imgsrc}}" class="d-block w-100" alt="...">
                            </div>
                        {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    {% endif %}

                </div>
                <div class="card-footer bg-white border-0">
                    <div class="clearfix">
                        <ul class="list-inline float-end">
                            {% for meta in project.meta %}
                            <li class="list-inline-item">
                                <img src="/images/tech/{{ meta }}.png" height="30" alt-="{{meta}}" title="{{meta}}"/>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
