

<section class="section section-projects bg-c">
    <div class="container content">
        <div class="section-title text-center">
            <div class="card">
                <div class="card-body">
                    {% include nav.html %}
                </div>
            </div>

        </div>
        <div class="section-body">
            <div class="card mb-3">
                <img src="{{ project.img_card_src }}" class="card-img-top" >
                <div class="card-body">
                    <h1 class="card-title txt-prpl">{{ project.name }}</h1>
                    <div class="card-text">
                        <p class="mb-4 txt-prpl">{{ project.desc }}</p>
                        {{ extraDetails }}
                    </div>
                    {% if project.links.size > 0 %}
                    <div class="border-top border-bottom p-4 mb-3">
                        {% for link in project.links %}
                        <a href="{{ link.url }}" target="_blank" class="card-link">{{ link.title }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if project.highlights.size > 0 %}
                    <h6>Project Highlights:</h6>
                    <ul>
                        {% for highlight in project.highlights %}
                        <li>{{ highlight }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% if project.technologies.size > 0 %}
                    <h6>Technologies:</h6>
                    <ul>
                        {% for tech in project.technologies %}
                        <li>{{ tech }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</section>