.section-projects,
.section-about,
.section-contact {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.section-projects {
  .card {
    color: #111 !important;
  }
  ul {
    margin-bottom: 0;
  }
}

.section-about {
  .container {
    background-color: #fff;
    border: 1px solid #e5dfec;
    padding: 4vh;
    border-radius: 2px;
  }
}

.section-contact {
  height: 50vh;
  background-color: #4aaa6a;
  color: #c3eed1;
  .section-title {
  }
  ul.contact-links {
    a {
      color: #dcf1e3 !important;
      &:hover {
        color: #fff !important;
      }
    }

  }
}