<!-
.         .
,8.       ,8.                   .8.          8 888888888o.      8 8888888888
,888.     ,888.                 .888.         8 8888    `^888.   8 8888
.`8888.   .`8888.               :88888.        8 8888        `88. 8 8888
,8.`8888. ,8.`8888.             . `88888.       8 8888         `88 8 8888
,8'8.`8888,8^8.`8888.           .8. `88888.      8 8888          88 8 888888888888
,8' `8.`8888' `8.`8888.         .8`8. `88888.     8 8888          88 8 8888
,8'   `8.`88'   `8.`8888.       .8' `8. `88888.    8 8888         ,88 8 8888
,8'     `8.`'     `8.`8888.     .8'   `8. `88888.   8 8888        ,88' 8 8888
,8'       `8        `8.`8888.   .888888888. `88888.  8 8888    ,o88P'   8 8888
,8'         `         `8.`8888. .8'       `8. `88888. 8 888888888P'      8 888888888888

8 888888888o `8.`8888.      ,8'
8 8888    `88.`8.`8888.    ,8'
8 8888     `88 `8.`8888.  ,8'
8 8888     ,88  `8.`8888.,8'
8 8888.   ,88'   `8.`88888'
8 8888888888      `8. 8888
8 8888    `88.     `8 8888
8 8888      88      8 8888
8 8888    ,88'      8 8888
8 888888888P        8 8888

         8 8888       .8.          8 8888     ,88' 8 8888888888
         8 8888      .888.         8 8888    ,88'  8 8888
         8 8888     :88888.        8 8888   ,88'   8 8888
         8 8888    . `88888.       8 8888  ,88'    8 8888
         8 8888   .8. `88888.      8 8888 ,88'     8 888888888888
         8 8888  .8`8. `88888.     8 8888 88'      8 8888
88.      8 8888 .8' `8. `88888.    8 888888<       8 8888
`88.     8 888'.8'   `8. `88888.   8 8888 `Y8.     8 8888
`88o.    8 88'.888888888. `88888.  8 8888   `Y8.   8 8888
`Y888888 ' .8'         `8. `88888. 8 8888     `Y8. 8 888888888888->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
</head>
<body class="home {% if page.category == 'home' %} bg-a {% endif %}">
    <main role="main">
        {{ content }}
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/scroll.js"></script>
</body>
</html>